@model List<StellerAcunMedyaAkedemiPortfolio.Models.TblProject>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Projelerim Sayfası</h3>
<br />

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Resim</th>
        <th>Proje Adı</th>
        <th>Açıklama</th>
        <th>Github URL</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <td>@item.ProjectId</td>
        <td><img src="@item.ImageUrl" /></td>
        <td>@item.Title</td>
        <td>@item.Description</td>
        <td>@item.GitHubUrl</td>
        <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
        <td><a href="#" class="btn btn-outline-info">Güncelle</a></td>

    }
</table>

<br />
<td><a href="#" class="btn btn-outline-primary">Yeni Hakımızda Bilgisi</a></td>




